.footer-container {
    position: relative;
}

.footer-hr {
    border: 1px solid black;
}

.footer-content {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.footer-social-media {
    font-size: 2rem;
    display: flex;
    gap: 4rem;
}

.media-icon:hover {
    cursor: pointer;
}

.footer-logo {
    width: 10rem;
    display: flex;
    justify-content: center;
}

.footer-blur-1 {
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 26rem;
    filter: blur(200px);
}

.footer-blur-2 {
    bottom: 0;
    left: 15%;
    width: 26rem;
    height: 26rem;
    filter: blur(200px);
}