.programs-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5rem;
}

.programs-header-container {
    display: flex;
    gap: clamp(1rem, 3vw, 3rem);
    font-weight: bold;
    font-size: clamp(2rem, 3vw, 3rem);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

.programs-subheader {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: bold;
}


.programs-categories-container {
    display: flex;
    gap: 1rem;
}

.programs-category {
    display: flex;
    flex-direction: column;
    background-color: gray;
    gap: 1rem;
    padding: 2rem;
    color: white;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
}

.programs-category:hover {
    background: var(--darkTeal);
    cursor: pointer;
}

.category-icon {
    font-size: 2rem;
}

.category-heading {
    font-size: 1rem;
    font-weight: bold;
}

.category-detail {
    font-size: 0.9rem;
    line-height: 25px;
}

.join-now-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn-icon {
    padding-top: 5px;
}

.join-now-btn>img {
    width: 1rem;
}

@media (max-width: 1200px) {
    .programs-header-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .programs-categories-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .programs-header-container {
        flex-direction: column;
    }
}