.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
    width: 70%;
    height: fit-content;
    color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 54px 55px, rgba(0, 0, 0, 0.2) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px, rgba(0, 0, 0, 0.7) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loading-title {
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin: 0;
}

.loading-subheader {
    color: gray;
    margin: -1rem 0;
}

.loading-body {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin: 1.5rem 0 -1rem;
}

.loading-subtitle {
    margin: 0.5rem 0 1.5rem;
}

.loading-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.loading-btn {
    margin: 0 auto;
    padding: 0.9rem 1.8rem;
    font-size: clamp(.7rem, 1vw, 1rem);
    font-weight: 700;
    border: 5px solid var(--orange);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.loading-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #adadad8c;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.loading-btn:hover::before {
    transform: translateX(0);
}

.loading-btn-disabled {
    margin: 0 auto;
    padding: 0.9rem 1.8rem;
    font-size: clamp(.7rem, 1vw, 1rem);
    font-weight: 700;
    border: 5px solid;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.loader {
    --load-time: 2s;
    outline: 5px solid var(--orange);
    outline-offset: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    padding: 1rem 5rem;
}

.loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    z-index: 2;
    animation: loading 3s ease-in-out forwards;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}