.join-container {
    display: flex;
    padding: 2rem;
    gap: 10rem;
}

.join-left-side-content {
    flex: 1 1;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.join-hr {
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}

.join-header {
    display: flex;
    gap: 1rem;
}

.join-right-side-content {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.join-form {
    display: flex;
    gap: 3rem;
    padding: 1rem 2rem;
    /* width: 100%; */
    background: var(--lightTeal);
    box-shadow: var(--boxShadow);
}

.join-form>input {
    flex: 2;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

::placeholder {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.join-btn {
    flex: 1;
    border: solid 4px var(--orange);
    background-color: white;

}