:root {
  --black: #000000;
  --darkTeal: #005F60;
  --teal: #008083;
  --lightTeal: #249ea0;
  --yellow: #faab36;
  --orange: #f78104;
  --darkOrange: #fd5901;
  --boxShadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

body {
  letter-spacing: 1px;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
  background-color: #3c3f45;
  color: white;
  mix-blend-mode: overlay;
  padding: 0 5rem;
}

::-webkit-scrollbar {
  display: none;
}

.app-stroke-text {
  color: transparent;
  -webkit-text-stroke: 1px white;
  z-index: 5;
}

.app-btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  z-index: 1;
}

.app-btn:hover {
  cursor: pointer;
  border: 4px solid var(--black);
}

.app-blur {
  background: rgba(253, 120, 43, 0.69);
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -9;
}