.reviews-container {
    display: flex;
    gap: 1rem;
    padding: 0 5rem;
}

.reviews-left-side-content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    text-transform: uppercase;
    gap: 2rem;
}

.reviews-header {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
}

.reviews-header-bottom {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
    margin-top: -2rem;
}

.review {
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: clamp(.8rem, 1vw, 1rem);
}

.reviews-right-side-content {
    flex: 1 1;
    position: relative;
}

.client-img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}

.review-border {
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid var(--orange);
    right: 9rem;
    top: 0.9rem;
}

.review-background {
    position: absolute;
    width: 17rem;
    height: 20rem;
    right: 7rem;
    top: 4rem;
    background: var(--orange);
}

.review-arrows {
    position: absolute;
    gap: 1rem;
    display: flex;
    bottom: 1rem;
    left: 3rem;
}

.review-arrows>span {
    font-size: 1.5rem;
    cursor: pointer;
}

#left-arrow {
    transform: scaleX(-1);
}

@media (max-width: 1000px) {
    .reviews-container {
        flex-direction: column;
    }

    .client-img,
    .review-border,
    .review-background {
        display: none;
    }

    .review-arrows {
        width: 95%;
        justify-content: flex-end;
    }
}